In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import re
import geonamescache
import numpy as np

In [2]:
file_path = 'C:/Users/Felix/Documents/Ironhack/Project/data/attacks.csv'

# Try reading the file with a different encoding
data = pd.read_csv(file_path, encoding='latin1')
df = pd.DataFrame(data)

In [3]:
print(data.shape)
data.head()

(25723, 24)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

### Renaming the columns

In [4]:
df.columns = [i.lower().replace(" ", "_") for i in df.columns]
df.rename(columns={'sex_': 'sex', 'species_': 'species', 'fatal_(y/n)': 'fatal'}, inplace=True)
df

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Deleting unnecessary columns

In [5]:
columnas_a_eliminar = ["unnamed:_22", "unnamed:_23", "href", "href_formula", "original_order", "pdf", "case_number.1", "case_number", "case_number.2", "time"]
df.drop(columns=columnas_a_eliminar, inplace=True)

### Deleting empty rows

In [6]:
df.dropna(how="all", inplace=True)

#### Cleaning column: "type"

In [7]:
df['type'] = df['type'].str.lower()

df['type'] = df['type'].str.extract(r'(unprovoked|provoked)')

df['type'] = df['type'].fillna('-1')

#### Cleaning column: "age"

In [8]:
df['age'] = df['age'].str.replace(r'\D', '', regex=True)

df['age'] = df['age'].replace('', -1)

df['age'] = pd.to_numeric(df['age'], errors='coerce').fillna(-1).astype(int)

df['age'] = df['age'].apply(lambda x: x if 0 <= x <= 100 else -1)

In [9]:
df['age'].value_counts()

age
-1     2896
 17     154
 20     151
 18     151
 19     143
       ...
 87       1
 84       1
 82       1
 72       1
 2        1
Name: count, Length: 82, dtype: int64

#### Cleaning column: "year"

In [10]:
df['year'] = df['year'].fillna('').astype(str)

df['year'] = df['year'].str.extract(r'(\d{4})')

df['year'] = df['year'].fillna('-1')

df['year'] = df['year'].astype(int)

In [11]:
df['year'].value_counts()

year
 2015    143
 2017    136
-1       130
 2016    130
 2011    128
        ...
 1788      1
 1787      1
 1786      1
 1785      1
 1543      1
Name: count, Length: 246, dtype: int64

#### Cleaning column: "date"

In [12]:
def buscar_fecha(texto):
    patron = r'.*?(\d{2}-[a-zA-Z]+-\d{4}).*'
    coincidencias = re.findall(patron, texto)
    if coincidencias:
        return coincidencias[0]
    return '-1'

df['date'] = df['date'].apply(buscar_fecha)

df['date'] = df['date'].fillna('-1')

In [13]:
df['date'].value_counts()

date
-1             944
12-Apr-2001      5
28-Jul-1995      5
05-Oct-2003      5
23-Jan-1970      4
              ...
09-Sep-1997      1
08-Sep-1997      1
06-Sep-1997      1
30-Aug-1997      1
29-Jun-1982      1
Name: count, Length: 4696, dtype: int64

#### Cleaning column: "country"

In [14]:
df['country'] = df['country'].str.replace(r'[^\w\s,]', '', regex=True)

df['country'].fillna(-1)

0                    USA
1                    USA
2                    USA
3              AUSTRALIA
4                 MEXICO
              ...
6297           AUSTRALIA
6298           AUSTRALIA
6299                 USA
6300              PANAMA
6301    CEYLON SRI LANKA
Name: country, Length: 6302, dtype: object

In [15]:
gc = geonamescache.GeonamesCache()

# Obtener una lista de nombres de países
pais_lista = [pais['name'].lower() for pais in gc.get_countries().values()]
pais_lista.extend(['usa'])

In [16]:
paises = pais_lista

In [17]:
df['country'] = df['country'].str.lower()
df['country'] = df['country'].apply(lambda x: -1 if x not in paises else x)

#### Cleaning column: "activity"

In [18]:
df['activity'].value_counts().head(25)

activity
Surfing            971
Swimming           869
Fishing            431
Spearfishing       333
Bathing            162
Wading             149
Diving             127
Standing            99
Snorkeling          89
Scuba diving        76
Body boarding       61
Body surfing        49
Swimming            47
Kayaking            33
Treading water      32
Pearl diving        32
Fell overboard      32
Free diving         29
Boogie boarding     29
Windsurfing         19
Walking             17
Boogie Boarding     16
Shark fishing       15
Floating            14
Fishing             13
Name: count, dtype: int64

In [21]:
df['activity'] = df['activity'].str.lower()

# Lista de actividades extraídas del texto
data = """Surfing
Swimming
Fishing
Spearfishing
Bathing
Wading
Diving
Standing
Snorkeling
Scuba diving
Body boarding
Body surfing
Kayaking
Paddle
Kayak
Treading water
Pearl diving
Fell overboard
Free diving
Boogie boarding
Windsurfing
Shark fishing"""

def unify_words(match):
    return match.group(1).lower()

# Aplica la función de unificación usando regex para unificar palabras iguales
df['activity'] = df['activity'].str.replace(r'(\b\w+\b)(?=\s+\1)', unify_words, regex=True)

activity_counts = df['activity'].value_counts()

#### Cleaning column: "sex"

In [22]:
df['sex'] = np.where(df['sex'].isin(['M', 'F']), df['sex'], -1)

#### Cleaning column: "fatal"

In [23]:
df['fatal'] = np.where(df['fatal'].isin(['N', 'Y']), df['fatal'], -1)

#### Cleaning: "species"

In [24]:
df['species'] = df['species'].str.lower()

valid_species = df['species'].apply(lambda x: re.sub(r"[0-9'`[].*$]", '', str(x)))
valid_species = valid_species.str.replace('invalid', '').str.replace('shark involvement prior to death was not confirmed', '')

shark_names = [
    "white shark", "hammerhead shark", "tiger shark", "bull shark", 
    "nurse shark", "mako shark", "thresher shark", "blue shark", 
    "lemon shark", "whale shark", "blacktip shark", "silky shark", 
    "goblin shark", "dogfish shark", "sandbar shark", "megamouth shark", 
    "porbeagle shark", "greenland shark", "zebra shark", "wobbegong shark", 
]

valid_species = valid_species.apply(lambda x: next((name for name in shark_names if name in x), 'unknown'))

df['species'] = valid_species

In [25]:
df.head(20)

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,species,investigator_or_source
0,25-Jun-2018,2018,-1,usa,California,"Oceanside, San Diego County",paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,white shark,"R. Collier, GSAF"
1,18-Jun-2018,2018,unprovoked,usa,Georgia,"St. Simon Island, Glynn County",standing,Adyson McNeely,F,11,Minor injury to left thigh,N,unknown,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018,-1,usa,Hawaii,"Habush, Oahu",surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018,unprovoked,australia,New South Wales,Arrawarra Headland,surfing,male,M,-1,Minor injury to lower leg,N,unknown,"B. Myatt, GSAF"
4,04-Jun-2018,2018,provoked,mexico,Colima,La Ticla,free diving,Gustavo Ramos,M,-1,Lacerations to leg & hand shark PROVOKED INCIDENT,N,tiger shark,A .Kipper
5,03-Jun-2018,2018,unprovoked,australia,New South Wales,"Flat Rock, Ballina",kite surfing,Chris,M,-1,"No injury, board bitten",N,unknown,"Daily Telegraph, 6/4/2018"
6,03-Jun-2018,2018,unprovoked,brazil,Pernambuco,"Piedade Beach, Recife",swimming,Jose Ernesto da Silva,M,18,FATAL,Y,tiger shark,"Diario de Pernambuco, 6/4/2018"
7,27-May-2018,2018,unprovoked,usa,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,lemon shark,"K. McMurray, TrackingSharks.com"
8,26-May-2018,2018,unprovoked,usa,Florida,"Cocoa Beach, Brevard County",walking,Cody High,M,15,Lower left leg bitten,N,bull shark,"K.McMurray, TrackingSharks.com"
9,26-May-2018,2018,unprovoked,usa,Florida,"Daytona Beach, Volusia County",standing,male,M,12,Minor injury to foot,N,unknown,"K. McMurray, Tracking Sharks.com"
10,24-May-2018,2018,provoked,australia,Queensland,Cairns Aquarium,feeding sharks,male,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,unknown,"ABC.net.au ,05/24/2018"
11,21-May-2018,2018,unprovoked,usa,South Carolina,"Isle of Palms, Charleston County",boogie boarding,Trey de Boer,M,10,Injuries to lower right leg and foot,N,unknown,"C. Creswell, GSAF"
12,13-May-2018,2018,unprovoked,usa,South Carolina,"Hilton Head Island, Beaufort County",swimming,Jei Turrell,M,10,Severe bite to right forearm,N,unknown,"C. Creswell, GSAF & K. McMurray TrackingSharks..."
13,13-May-2018,2018,-1,-1,Cornwall,Off Land's End,fishing,Max Berryman,M,21,Injured by teeth of a dead porbeagle shark he ...,N,unknown,"K. McMurray, TrackingSharks.com"
14,-1,2018,provoked,australia,Westerm Australia,Dugong Bay,feeding sharks,Melisa Brunning,F,34,Shallow lacerations to finger PROVOKED INCIDENT,N,nurse shark,"Perth Now, 6/30/2018"
15,12-May-2018,2018,unprovoked,south africa,Eastern Cape Province,"Nahoon Beach, East London",surfing,male,M,-1,"Minor injury, marks on board",N,unknown,"B.Jacob, Dispatch Live, 5/12/2018"
16,09-May-2018,2018,-1,australia,New South Wales,"Sharpes Beach, Ballina",surfing,male,M,-1,"No injury, surfboard damaged",N,unknown,"B. Myatt, GSAF"
17,30-Apr-2018,2018,unprovoked,thailand,Hua Hin,Sai Noi Beach,swimming,female,M,-1,Minor injury to ankle,N,unknown,"K. McMurray, TrackingSharks.com"
18,28-Apr-2018,2018,unprovoked,costa rica,Cocos Island,Manuelita,scuba diving,male,M,30,"No injury, shark bit scuba gear",N,tiger shark,Costa Rica Star. 4/28/2018
19,28-Apr-2018,2018,unprovoked,australia,Western Australia,Gearys Beach,surfing,Adam Murray,M,-1,"No injury, knocked off board by shark",N,unknown,"B. Myatt, GSAF"

In [26]:
df['species'].value_counts()

species
unknown             4800
white shark          635
tiger shark          284
bull shark           176
nurse shark           97
blacktip shark        64
mako shark            54
wobbegong shark       46
hammerhead shark      45
blue shark            40
lemon shark           35
porbeagle shark        6
sandbar shark          6
silky shark            4
thresher shark         4
whale shark            3
goblin shark           2
dogfish shark          1
Name: count, dtype: int64

#### Deleting duplicated datas

In [27]:
df.drop_duplicates(inplace=True)

In [28]:
df.duplicated().sum()

0

In [29]:
df.isna().sum()

date                        0
year                        0
type                        0
country                     0
area                      452
location                  539
activity                  544
name                      208
sex                         0
age                         0
injury                     28
fatal                       0
species                     0
investigator_or_source     17
dtype: int64

In [28]:
df

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,species,investigator_or_source
0,25-Jun-2018,2018,-1,usa,California,"Oceanside, San Diego County",paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,white shark,"R. Collier, GSAF"
1,18-Jun-2018,2018,unprovoked,usa,Georgia,"St. Simon Island, Glynn County",standing,Adyson McNeely,F,11,Minor injury to left thigh,N,unknown,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018,-1,usa,Hawaii,"Habush, Oahu",surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018,unprovoked,australia,New South Wales,Arrawarra Headland,surfing,male,M,-1,Minor injury to lower leg,N,unknown,"B. Myatt, GSAF"
4,04-Jun-2018,2018,provoked,mexico,Colima,La Ticla,free diving,Gustavo Ramos,M,-1,Lacerations to leg & hand shark PROVOKED INCIDENT,N,tiger shark,A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,-1,-1,unprovoked,australia,Western Australia,Roebuck Bay,diving,male,M,-1,FATAL,Y,unknown,"H. Taunton; N. Bartlett, p. 234"
6298,-1,-1,unprovoked,australia,Western Australia,NaN,pearl diving,Ahmun,M,-1,FATAL,Y,unknown,"H. Taunton; N. Bartlett, pp. 233-234"
6299,-1,-1,unprovoked,usa,North Carolina,Ocracoke Inlet,swimming,Coast Guard personnel,M,-1,FATAL,Y,unknown,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,-1,-1,unprovoked,panama,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,-1,FATAL,Y,unknown,"The Sun, 10/20/1938"
6301,-1,-1,unprovoked,-1,Eastern Province,"Below the English fort, Trincomalee",swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,unknown,S.W. Baker

In [30]:
df_Data_cleaned_reset = df.reset_index()
df_Data_cleaned_reset.to_csv("shark_attack_cleaned.csv", index=False)